* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: rgb(135, 135, 240);
}
h1{
    text-align: center;
    margin: 20px 0;
    
    color: white;}

.nev li{
    display: inline-block;
    margin: 0 15px;
    
 }
 .nev{
   background-color: azure;
    text-align: left;
 }
h2{
    color: white;
    text-align: left;
    margin-top: 20px;}